In [5]:
print("hello world")

hello world

In [6]:
nome = 'Rodrigo'
sobrenome = 'Araújo'
print('Nome: {} {}'.format(nome, sobrenome))

Nome: Rodrigo Araújo

In [7]:
lista = [1, 2, 3, 4, 5]
lista[:2] #todos os valores a esquerda da posição 2, com exceção do próprio

[1, 2]

In [8]:
lista[2:] #todos os valores a direita da posição 2, inclusive o próprio

[3, 4, 5]

In [11]:
dicionario = { 'valor1': 1, 'valor2': 2}
dicionario

{'valor1': 1, 'valor2': 2}

In [14]:
dicionario['valor1']

1

In [15]:
tupla = (1, 2, 3)
tupla #lista imutável

(1, 2, 3)

In [16]:
tupla[1]

2

In [20]:
x = 6
if x < 6:
    print('Menor q 6')
elif x > 6:
    print('Maior q 6')
else:
    print('Igual a 6')

Igual a 6

In [23]:
numeros = [1, 2, 3, 4, 5]
for numero in numeros:
    print(numero)
print('outra forma:')
for i in range(1,6):
    print(i)

1
2
3
4
5
outra forma:
1
2
3
4
5

In [3]:
lista = []
sequencia = [1, 2, 3, 4]
for num in sequencia:
    lista.append(num**2)
lista

[1, 4, 9, 16]

In [4]:
#outra forma de fazer o trecho acima
[num**2 for num in sequencia]

[1, 4, 9, 16]

In [5]:
def quadrado(num):
    return num**2
quadrado(3)

9

In [6]:
# o map chama a função para todos os valores de um iterável
list(map(quadrado, sequencia))

[1, 4, 9, 16]

In [29]:
# outra forma de fazer o trecho acima, usando função lambda
list(map(lambda num: num**2, sequencia))

[1, 4, 9, 16]

In [7]:
# filter para extrair valores que passam em uma condição, no caso extraindo os valores pares da lista sequencia
list(filter(lambda item: item % 2 == 0, sequencia))

[2, 4]

In [8]:
str = 'um, dois, três, quatro';
str.split(',')

['um', ' dois', ' três', ' quatro']